@media (min-width: 450px) and (max-width: 800px) {
    h2 {
        font-size: 1.0rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    h3 {
        font-size: 0.65rem;
    }

    h6 {
        font-size: 0.5rem;
    }

    .nowrap {
        white-space: nowrap;
    }

    .about-brawl-bloc {
        display: none;
    }
}